.letter-list a {
    text-decoration: underline;
    color: rgb(6, 43, 95);
    margin-right: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 25px;
    top: 8px;
    }
    
    .highlight {
    color: rgb(44, 6, 125);
    font-style: italic;
    font-weight: bold;
    }

    #highlightButton {
    /* font-family: "Miltonian Tattoo", serif; */
    font-family: "Patua One", serif;
    color: rgb(6, 43, 95);
    background-color: rgb(59, 119, 197);
    max-height: 1.5rem;
    max-width: 5rem;
    border: solid .2rem rgb(30, 13, 188);
    border-radius: .35rem;
    padding: .05rem;
    position: relative;
    right: -390px;
    }
    
    body {
    /* font-family: "Miltonian Tattoo", serif; */
    font-family: "Patua One", serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(156, 143, 239);
    }

    h2 {
    color: rgb(4, 151, 14);
    }
    
    #letterFrequencyOutput,
    #letterSearchResults  {
    color: rgb(15, 68, 142);
    }
    
    .posInput {
        color: rgb(5, 20, 86);
        position: relative;
        right: -150px;
        position: relative;
        left: 245px;
        top: 45px;
    }

    #positionInput {
        max-width: 4rem;
        background-color: rgb(118, 100, 238);
        border: solid .2rem rgb(30, 13, 188);
        border-radius: .3rem;
        padding: .15rem;
        position: relative;
        left: 100px;
        top: 40px;
    }

    #hidden {
        display: none; /* Default is hidden */
    }
    
    #hidden.show {
        display: grid; /* Reveals when class is toggled */
    }

    .linkBlock {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
        max-width: 50%;
        margin-left: 20rem;
    }
    .toggleShow {
        color: rgb(6, 43, 95);
        cursor: pointer;
        background-color: rgb(59, 119, 197);
        border: solid .2rem rgb(30, 13, 188);
        border-radius: .3rem;
        padding: .15rem;
        max-width: 19.25rem;
        align-items: center;
        position: relative;
        left: 350px;
        top: 40px;
    }

    #linkBack {
    margin-left: 1rem;
    color: rgb(151, 82, 4);
    background-color: rgb(181, 212, 43);
    border: solid .2rem rgb(222, 112, 16);
    border-radius: .5rem;
    padding: .2rem;
    text-decoration: none;
    text-align: center;
    max-width: 12rem;
    }