.letter-list a {
    text-decoration: underline;
    color: rgb(4, 151, 14);
    margin-right: 10px;
    cursor: pointer;
    }
    
    .highlight {
    color: rgb(139, 159, 188);
    font-style: italic;
    font-weight: bold;
    }
    
    body {
    /* font-family: "Miltonian Tattoo", serif; */
    font-family: "Patua One", serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(115, 98, 226);
    }

    h2 {
    color: rgb(71, 175, 175);
    }
    
    #letterFrequencyOutput,
    #letterSearchResults  {
    color: rgb(15, 68, 142);
    }
    
    .posInput {
    color: rgb(71, 175, 175);
    }

    #linkBack {
    margin-left: 1rem;
    color:rgb(136, 132, 132);
    }